.background {
    background: #F5F2F1;
}

.day-box {
    color: #000;
    font-family: Inter;
    font-weight: 700;
    font-size: 26px;
    border-radius: 45px;
    margin: 0 20px;
    display: inline-block;
    text-align: center;
    vertical-align: top;
    background: #FFF;
    flex: 1 1 0%; 
}

.date-selector {
    background: #FFF;
    border-radius: 45px;
}