.day-box {
    color: #000;
    font-family: Inter;
    font-size: calc(1rem + 1vw);
    width: 100px;
    height: 200px;
    border-radius: 45px;
    margin-right: 20px;
    display: inline-block;
    text-align: center;
    vertical-align: top;
}